.library-footer {
  background: var(--primary-color);
  color: white;
  padding-top: 50px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  padding: 0 80px 40px;
}

.footer-grid h3 {
  color: var(--accent-color);
}

.copyright {
  text-align: center;
  padding: 16px;
  background: #08172d;
}