<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      @if (homeNewsMetadataValue$ | async; as homeNewsMetadataValue) {
        <div class="container">
          <div class="jumbotron jumbotron-fluid">
            <ds-markdown-viewer
              [value]="homeNewsMetadataValue"
            ></ds-markdown-viewer>
          </div>
        </div>
      } @else {
        <div class="d-flex flex-wrap">
          <div>
            <div class="welcome-container">
              <h1 class="welcome-title">
                <div class="marquee-container">
                  <div class="marquee-text">
                    Welcome to  N J Yasaswy Memorial Library
                  </div>
                </div>
                <span>  N J Yasaswy Memorial Library</span>
              </h1>
              <p class="welcome-subtitle">
                • Empowering Knowledge • Research • Innovation
              </p>
            </div>
            <h4 class="display-4">
              IFHE (ICFAI Foundation for Higher Education)
            </h4>
            <!-- <p><i class="fas fa-circle-info"></i> This site is running unreleased code which will eventually become DSpace 10. For more information, see the <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Release+10.0+Status" role="link" tabindex="0">DSpace 10 Release Status</a>.</p> -->
            <p class="lead">
               N J Yasaswy Memorial Library is the central knowledge hub of
              IFHE, dedicated to supporting academic excellence, research, and
              lifelong learning. The library provides seamless access to a vast
              collection of books, journals, research publications, theses, and
              digital resources.
            </p>

            <p>
              Designed to meet the evolving needs of students, faculty, and
              researchers, the library integrates modern technology with rich
              academic resources to create a dynamic and user-friendly learning
              environment.
            </p>
          </div>
          <div>
            <ul class="feature-list">
              <li>
                extensive collection of academic books, journals, and digital
                resources
              </li>
              <li>
                advanced digital repository for research publications and theses
              </li>
              <li>
                modern infrastructure with a technology-enabled learning
                environment
              </li>
              <li>supports innovation, research, and knowledge sharing</li>
              <li>
                provides access to institutional and global academic resources
              </li>
            </ul>
            <p>
              The digital repository enables users to explore, access, and
              preserve scholarly content efficiently, ensuring knowledge is
              accessible anytime, anywhere.
            </p>
            <p>
              Our repository supports students, faculty, and researchers by
              offering a centralized system to explore, access, and preserve
              scholarly content for academic and research excellence.
            </p>

            <ul class="feature-list">
              <li>easy access to institutional research and publications</li>
              <li>centralized platform for academic and scholarly resources</li>
              <li>enhances learning, teaching, and research activities</li>
              <li>secure and reliable access to digital content</li>
            </ul>
          </div>
        </div>
      }
    </div>
  </div>

  <picture class="background-image">
    <source
      type="image/webp"
      srcset="
        assets/dspace/images/unnamed.png 2000w,
        assets/dspace/images/unnamed.png 1200w,
        assets/dspace/images/unnamed.png  768w
      "
    />

    <source
      type="image/jpeg"
      srcset="
        assets/dspace/images/unnamed.png 2000w,
        assets/dspace/images/unnamed.png 1200w,
        assets/dspace/images/unnamed.png  768w
      "
    />

    <img alt="" src="assets/dspace/images/unnamed.png" class="banner-img" />
  </picture>

  <small class="credits">
    © ICFAI Foundation for Higher Education (IFHE)
  </small>
</div>
